The analysis "practical/myanalysis.ipynb" runs on a Jupyter Notebook and on Python 3.7

Instructions for installing Python 3.7 : https://www.python.org/downloads/
Instructions for installing Jupyter Notebook : https://jupyter.org/install

The analysis notebook requires the following libraries :
* pandas
* numpy
* statsmodels
* scipy
* matplotlib.pyplot as plt

Make sur you install them correctly before running the analysis, through the command "pip install " for example
